SSC2026.pdf
SSC2026.tex

*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.fls
*.fdb_latexmk
*.synctex.gz
*.tikz
*-tikzDictionary
*.bcf
*.run.xml
*.ent

cache/
figure/
unnamed*
Rplots.pdf
code/
.Rhistory
